/*https://css-tricks.com/making-css-animations-feel-natural/*/


/*Use of :root to set variables as described here: https://www.w3schools.com/css/css3_variables.asp*/
:root {
    --berry: #bd3559;
    --red: #e65c38;
    --orange: #f99027;
    --yellow: #f9d349;
    --light-green: #9ec04d;
    --dark-green: #109e68;
    --bee-wings: #a8d6cd;
    --blue: #6689c3;
    --purple: #554995;
    --pink: #f6a5c5;
    --brown: #a6743f;
    --gray: #979797;
}

.red {
    background-color: var(--red);
}

.orange {
    background-color: var(--orange);
}

.yellow {
    background-color: var(--yellow);
}

.light-green {
    background-color: var(--light-green);
}

.dark-green {
    background-color: var(--dark-green);
    color: white;
}

.bee-wings {
    background-color: var(--bee-wings);
}

.blue {
    background-color: var(--blue);
    color: white;
}

.purple {
    background-color: var(--purple);
    color: white;
}

.berry {
    background-color: var(--berry);
    color: white;
}

.pink {
    background-color: var(--pink);
}


* {
    box-sizing: border-box;
    border: none;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

a {
    font-weight: bold;
}

#name {
    display: inline-flex;
    z-index: 51;
    position: relative;
    padding: 15px 20px;
}

#name a h1 {
    transform: translateY(10%);
}

#name a {
    display: flex;
    align-items: center;
}

#bee {
    height: 70px;
    object-fit: contain;
    align-self: flex-end;
    animation-duration: 1s;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    padding: 0 0 0 10px;
}

img {
    max-width: 100%;
}

video {
    width: 100%;
}


@font-face {
    font-family: "Komika-Hand";
    font-style: normal;
    font-weight: normal;
    src: local('Komika Hand'), url("..\typefaces\komika_hands") format('truetype');
}


@font-face {
    font-family: "Bakso-Sapi";
    font-style: normal;
    font-weight: normal;
    src: local('BaksoSapi'), url("..\typefaces\BaksoSapi.otf") format('opentype');
}

body {
    background-image: url("../images/background-images/brown-paper.jpg");
    background-repeat: repeat;
}

#full-guy {
    background-image: url("../images/background-images/cluttered-bg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.background-paper,
.cartoon-meghans {
    position: absolute;
    z-index: -1;
    overflow: hidden;
}


#intro-meghan {
    /* transform-origin: center center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: 0;
}

#i-made-this {
    display: block;
    position: absolute;
    width: 250px;
    transform: translateX(-8%) translateY(25%);
}

#peep {
    display: block;
    position: absolute;
    width: 250px;
    transform: translateX(55vw) translateY(-74.2%);
    z-index: 10;
}

#say-hello {
    width: 260px;
    z-index: 5;
    display: block;
    position: absolute;
    transform: translateY(-12%) translateX(290%);
}

#learn-about-me {
    max-height: 400px;
    position: relative;
}

#learn-about-me-line {
    position: absolute;
    width: 680.3px;
    height: 189px;
    transform: scale(81%) translateX(38%) translateY(-46%);
    z-index: 8;
}

#paper1 {
    background: url("../images/background-images/french2.png") no-repeat;
    background-size: cover;
    width: 424px;
    height: 588px;
    top: 40px;
    right: -75px;
}

#paper2 {
    background: url("../images/background-images/book-and-notes.png") no-repeat;
    background-size: cover;
    width: 424px;
    height: 588px;
    top: 375px;
    left: -75px;
}

#paper3 {
    background: url("../images/background-images/to-do1.png") no-repeat;
    background-size: cover;
    width: 423px;
    height: 368px;
    top: 780px;
    left: 50vw;
    rotate: 50deg;
}

#paper4 {
    background: url("../images/background-images/journal1.png") no-repeat;
    background-size: cover;
    width: 424px;
    height: 588px;
    top: 1200px;
    left: -75px;
    rotate: 90deg;
}

#paper5 {
    background: url("../images/background-images/notebook1.png") no-repeat;
    background-size: cover;
    width: 424px;
    height: 588px;
    top: 1063px;
    right: -150px;
    rotate: 200deg;
}

#paper6 {
    background: url("../images/background-images/receipt1.png") no-repeat;
    background-size: cover;
    width: 276px;
    height: 191px;
    top: 900px;
    left: -10px;
    rotate: 75deg;
    z-index: 0;
}

#paper7 {
    background: url("../images/background-images/miscellaneous.png") no-repeat;
    background-size: cover;
    width: 424px;
    height: 588px;
    top: 489px;
    left: -200px;
    rotate: -20deg;
}

#paper8 {
    background: url("../images/background-images/journal2.png") no-repeat;
    background-size: cover;
    width: 424px;
    height: 588px;
    top: -100px;
    right: -50px;
    rotate: -15deg;
}



h1,
h2,
ul {
    margin: 0;
    font-family: "Bakso-Sapi", 'Arial Rounded MT Bold', "Helvetica Rounded", sans-serif;
}

h2.about {
    color: white;
}

h3 {
    margin: 0;
    font-family: "Komika-Hand", "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 20px;
    text-align: center;

}

li {
    font-size: 20px;
}

#categories-parent li,
.tabs li,
#scroll-list li,
#music-list li,
#nav-list li {
    list-style-type: none;
    text-align: center;
    display: inline-block;

}

#categories-parent li,
.tabs li,
#music-list li,
#scroll-list li {
    font-size: 27px;
}

#nav-list li {
    font-size: 35px;
}



.about-parent {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 80px;
    height: min-content;
}


#more-info-grid {
    gap: 40px;
    font-family: "Bakso-Sapi", 'Arial Rounded MT Bold', "Helvetica Rounded", sans-serif;
    text-align: center;
    font-size: 27px
}

#more-info-grid,
#know-grid {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: min-content;
    max-width: 700px;
}

#scroll-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    padding-inline-start: 0;
    transform: translateY(-10%);
}

#music-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    padding-inline-start: 0;
}

#nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 1250px;
    gap: 0;
    position: relative;
    padding: 15px 100px;
    top: 50vh;
}

#likeToKnow {
    margin: auto;
    font-family: "Bakso-Sapi", 'Arial Rounded MT Bold', "Helvetica Rounded", sans-serif;
    list-style-type: none;
    text-align: center;
    display: block;
    font-size: 27px;
    padding: 15px 0;
}



h1 {
    font-size: 70px;
    display: flex;
}

p {
    margin: 0;
    font-family: 'Cambria', Georgia, serif;
}

main {
    flex-grow: 1;
}

.flex-parent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#intro-name {
    font-family: "Bakso-Sapi", 'Arial Rounded MT Bold', "Helvetica Rounded", sans-serif;
    font-size: 100px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 47.5vh;
    background-image: url("../images/background-images/scribble2.svg");
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 105px;

}

#categories-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}


#nav-list li:hover,
#scroll-list li:hover,
a:hover {
    color: var(--purple);
    transition: 0.2s ease;
}

#name a:hover {
    color: var(--yellow);
    transition: 0.2s ease;
}

/* .cool-hover:hover {
    color: var(--bee-wings);
    transition: 0.2s ease;
} */

#back-to-gallery:hover,
#back-to-top:hover {
    color: var(--berry);
    transition: 0.2s ease;
}

.i-like:hover,
#deselect-all:hover {
    color: var(--blue);
    cursor: pointer;
    transition: 0.2s ease;

}

#french,
#dutch {
    transition: transform 0.3s ease;
}

#french:hover,
#dutch:hover {
    color: #000000;
    transition: transform 0.3s ease;
}

.grid-item.deactivated {
    display: none;
}

.project-title {
    font-size: 40px;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 5px 10px;
}

#project-parent {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 75px;
    column-gap: 35px;
    height: min-content;
    padding: 50px 0 50px 0;
    margin: auto;
}

.within-picture-flex {
    height: 350px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#zine-info {
    padding: 40px 20px 20px 20px;
}

#zine-parent {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    height: min-content;
    padding: 50px 0 50px 0;
    margin: auto;
}

.zine-grid-baby {
    max-width: 295px;
}

/* .flex-bttm {
    display: flex;
    flex-direction: column;
    justify-content: end;
} */

.flexy {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#portfolio-parent {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 100px;
    height: min-content;
}

.grid-baby {
    height: 400px;
    width: 300px;
}

.shadow {
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.oval-speech {
    display: inline-block;
    /* display: block; */
    padding: 12px 24px;
    margin: 1em auto 50px;
    text-align: center;
    color: #000000;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 5;

}

.oval-speech p {
    position: relative;
    z-index: 9;
}

#made-this-bubble {
    transform: translateX(20%) translateY(-40%);
}

#ooh-bubble {
    transform: translateX(69vw) translateY(-140%);
}

.about-me-bubble {
    position: static;
    margin: auto;
}

#span2columns {
    display: none !important;
}

.oval-speech p {
    font-family: "Komika-Hand", "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 18px;
    margin: 0;
}


.container,
.container2 {
    max-width: 1000px;
    margin: auto;
}

.wrapper {
    padding: 15px 20px;
}

.picture-padding,
.zine-padding {
    padding: 0 15px 0 15px;
}

.basic-padding {
    padding: 15px;
}

.caption-padding {
    padding: 0 0 25px;
}


.know-padding {
    padding: 33px 10px 0 10px;
}


.bttm-spacer {
    padding: 0 0 5vh 0;
}

.top-spacer {
    padding: 5vh 0 0 0;
}


#pubs,
.pub-design h3 {
    color: var(--orange);
}

#web,
.web-design h3 {
    color: var(--berry);
}

#art,
.digital-art h3 {
    color: var(--dark-green);
}

#logo,
.logo-design h3 {
    color: var(--purple);
}


.project-link {
    display: inline-block;
    background-image: url("../images/tape/tape-straight-kraft2.png");
    background-size: 360px 60px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Bakso-Sapi", 'Arial Rounded MT Bold', "Helvetica Rounded", sans-serif;

}

#back-to-gallery,
#back-to-top,
#to-cv {
    display: inline-block;
    background-image: url("../images/tape/tape-straight-kraft3.png");
    background-size: 360px 60px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#to-cv {
    margin: auto;
}

.bump-up {
    transform: translateY(-40px);
}

.half-up {
    transform: translateY(-20px);
}

#bump-down {
    transform: translateY(110px) rotate(5deg);
}


#tape-label1,
#tape-label2,
#tape-label3,
#tape-label4,
#tape-label5,
#tape-label6,
#tape-label7 {
    background-position: center;
    background-repeat: no-repeat;
}

#tape-label1 {
    background-image: url("../images/tape/tape-straight-kraft3.png");
}

#tape-label2,
#tape-label6 {
    background-image: url("../images/tape/tape-straight-cream1.png");
}

#tape-label3 {
    background-image: url("../images/tape/tape-straight-kraft2.png");
}

#tape-label4,
#tape-label7 {
    background-image: url("../images/tape/tape-straight-cream2.png");
    align-content: center;
    display:grid;
}

#tape-label5 {
    background-image: url("../images/tape/tape-straight-kraft1.png");
}

#tape-label1,
#tape-label2,
#tape-label3,
#tape-label5 {
    background-size: 300px 60px;
}

#tape-label4 {
    background-size: 300px 70px;
}

#tape-label6,
#tape-label7 {
    background-size: 280px 80px;
}




.pinback-button-scale {
    object-fit: contain;
}

.hidden {
    display: none;
}

.visible {
    display: grid;
}


.projects {
    background-color: #ffffff;
    text-align: center;
    transform-origin: 50% 5%;
    transition: transform 0.3s ease;
    margin: 0 0 20px 0;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.self-portrait {
    background-color: #ffffff;
    text-align: center;
    transform-origin: 50% 5%;
    transition: transform 0.3s ease;
    margin: 0 0 30px 0;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
    max-width: 300px;
}

.about img {
    max-height: 275px;
}

.pop-up {
    visibility: hidden;
    position: absolute;
    left: 20vw;
    top: 5vh;
    width: 60vw;
    background-color: var(--yellow);
    border: 5px solid var(--orange);
}

.pop-up p {
    padding-bottom: 15px;
}

.crooked3 {
    -ms-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.crooked5 {
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.crooked-2 {
    -ms-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}


.jostle {
    transform: rotate(9deg);
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.tape1 {
    width: 200px;
    display: block;
    position: absolute;
    transform: translateY(-25%) translateX(-20%);
    z-index: 5;
}

.tape1point5 {
    width: 200px;
    display: block;
    position: relative;
    rotate: 90deg;
    transform: translateY(-458%) translateX(-305%);
    z-index: 5;
}

.tape1point6 {
    width: 200px;
    display: block;
    position: absolute;
    rotate: 90deg;
    transform: translateY(-190%) translateX(-10%);
    z-index: 5;
}

.tape2 {
    width: 400px;
    opacity: 80%;
    position: absolute;
    left: 250px;
    top: -56px;
    rotate: 2deg;

}

.tape3 {
    width: 275px;
    opacity: 80%;
    rotate: 20deg;
    display: block;
    position: absolute;
    top: -70px;
    right: -100px;
    /* Transform looks at the element itself and not the parent. */
    /*transform: translateY(-40%) translateX(10%)*/
}


.tape4 {
    width: 375px;
    height: 48px;
    display: block;
    position: absolute;
    left: 7vw;
    top: -30px;

}

#section1,
#section2,
#section3 {
    position: relative;

}

.portfolio-details {
    background-color: var(--yellow);
}

.portfolio-list,
.zine-list {
    font-family: "Komika-Hand", "Comic Sans MS", "Comic Sans", sans-serif;
    color: white;
    padding: 40px 20px 20px 20px;
}

.zine-list {
    margin: auto;
    width: max-content;
}

.zine-list li {
    width: max-content;
}

/*Adapted from https://codepen.io/teddyzetterlund/pen/YPjEzP*/
.card {
    background-image: linear-gradient(180deg, var(--bee-wings) 3.9rem, var(--blue) calc(1rem), var(--blue) calc(4.1rem), transparent 1px), repeating-linear-gradient(0deg, var(--bee-wings), var(--bee-wings) 1.5rem, var(--blue) 1px, var(--blue) calc(1.5rem + 1.5px));
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
    height: 12rem;
    margin: auto;
    position: relative;
    top: 50%;
    max-width: 550px;
}

#check-list {
    display: inline-block;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 20px;
}


input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 3px solid #000000;
    border-radius: 0.15em;
    transform: translateX(-0.5em) translateY(0.15em);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--yellow);
    transition: ease;
    transition-duration: 0.3s;
}

#deselect-all {
    font-size: 30px;
}



/*slideshow*/
/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    position: absolute;
    display: block;
    top: 50%;
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-family: "Bakso-Sapi", 'Arial Rounded MT Bold', "Helvetica Rounded", sans-serif;
    font-weight: bold;
    font-size: 40px;
    user-select: none;
    z-index: 9;
}

.prev {
    transform: translateY(-25%) rotate(180deg);
    text-align: right;
    left: -7%;
}

/* Position the "next button" to the right */
.next {
    right: -7%;
    transform: translateY(-25%);
}

.extra-prev {
    left: -11%;
}

.extra-next {
    right: -11%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: var(--yellow);
    cursor: pointer;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-family: "Komika-Hand", "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    display: none;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    align-self: flex-end;
    animation-duration: 1s;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--pink);
    border-radius: 50%;
    display: inline-block;
    bottom: -20px;
    transition: 0.2s ease;
}

#dot-box {
    transform: translateY(50px);
    margin: auto;
    text-align: center;
}

.dots-up {
    transform: translateY(10px) !important;
}


.active-bounce-down {
    animation-name: active-bounce-down;
    animation-timing-function: ease;
}

@keyframes active-bounce-down {
    0% {
        transform: scale(1, 1);
    }

    10% {
        transform: scale(1.1, .9);
    }

    30% {
        transform: scale(.9, 1.5);
    }

    50% {
        transform: scale(1.05, .95);
    }

    57% {
        transform: scale(1, 1);
    }

    64% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}


.active-bounce {
    animation-name: active-bounce;
    animation-timing-function: ease;
}

@keyframes active-bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-10px);
    }

    50% {
        transform: scale(1.05, .95) translateY(4px);
    }

    57% {
        transform: scale(1, 0.975) translateY(-2px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}


.dot-active,
.dot:hover {
    background-color: var(--yellow);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}









/* Page content https://www.w3schools.com/howto/howto_js_sticky_header.asp*/
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(247, 48, 48, 0);
    z-index: 50;
}

footer {
    position: static;
    width: 100%;
    z-index: 5;
    background-color: var(--yellow);
    bottom: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 102px;
}

/* https://codepen.io/jayenne/pen/qrKmer PUSH PIN */
.pushpin {
    margin: auto;
    position: relative;
    width: 30px;
    height: 52.5px;
    z-index: 1;
    top: 15px;
    transition: transform 0.3s ease;
}

.projects .pushpin,
.about .pushpin {
    top: -30px;
}

.pushpin-holder {
    position: relative;
    top: -10px;
}



.pushpin.tilted {
    -ms-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -webkit-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    transform: rotate(9deg);
}

.pinhead {
    width: 75%;
    height: 20%;
    border-radius: 100%;
    position: relative;
    left: 12.5%;
    top: 0;
    background: var(--light-green);
}

.pinhead:after {
    /*once was red*/
    background: #ffffff;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: -30%;
    left: 0;
    background: var(--dark-green);
}

.pinbase {
    width: 100%;
    height: 25%;
    border-radius: 100%;
    position: relative;
    left: 0;
    top: 30%;
    background: var(--dark-green);
}

.pinbase:after {
    /*once was red*/
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: #ffffff;
    top: -30%;
    left: 0;
    background: var(--light-green);
}

.pinshaft {
    height: 30%;
    width: 50%;
    position: relative;
    border-radius: 0;
    top: -30%;
    left: 25%;
    background: var(--light-green);

}

.pinshaft:after {
    content: '';
    width: 100%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    top: 75%;
}

.pinpoint {
    display: block;
    background: #999;
    height: 70%;
    width: 14%;
    position: absolute;
    border-radius: 0 0 20% 20%;
    z-index: -50;
    bottom: 0;
    left: 43%;
    box-shadow: 0 10px 20px 7px rgba(0, 0, 0, 0.2);
}


a {
    text-decoration: none;
    color: #000000;
}




/* Tabs from https://css-tricks.com/tabs-with-round-out-borders/*/
.tabs li {
    /* Makes a horizontal row */
    float: right;
    display: flex;
    /* So the psueudo elements can be
       abs. positioned inside */
    position: relative;
    transition: 0.5s ease;

}

.tabs a {
    /* Make them block level
       and only as wide as they need */
    /*float: left;*/
    padding: 10px 30px;
    text-decoration: none;
    /* Default colors */
    color: #000000;
    background: var(--pink);
    /* Only round the top corners */
    -webkit-border-bttm-left-radius: 15px;
    -webkit-border-bttm-right-radius: 15px;
    -moz-border-radius-bttmleft: 15px;
    -moz-border-radius-bttmright: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tabs li a {
    align-self: flex-end;
    animation-duration: 1s;
    margin: 0 auto 0 auto;
    transform-origin: top;
}

.tabs a:hover {
    background: #f9d349;
    text-align: center;
    padding: 15px 30px;
    transition: 0.5s;
}


.tabs .active {
    /* Highest, active tab is on top */
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs .active a {
    /* Colors when tab is active */
    background: #f9d349;
    text-align: center;
    padding: 15px 30px;
    transition: 0.5s;
}

.tabs li:before,
.tabs li:after,
.tabs li a:before,
.tabs li a:after {
    /* All pseudo elements are 
       abs. positioned and on bottom */
    position: absolute;
    bottom: 0;
}

/* Only the first, last, and active
     tabs need pseudo elements at all */
.tabs li:last-child:after,
.tabs li:last-child a:after,
.tabs li:first-child:before,
.tabs li:first-child a:before,
.tabs .active:after,
.tabs .active:before,
.tabs .active a:after,
.tabs .active a:before {
    content: "";
}

.tabs .active:before,
.tabs .active:after {
    opacity: 0;
    /* Squares below circles */
    z-index: 97;
}

/* Squares */
.tabs li:before,
.tabs li:after {
    opacity: 0;
    width: 10px;
    height: 10px;
}

.tabs li:before {
    left: -10px;
}

.tabs li:after {
    right: -10px;
}

/* Circles */
.tabs li a:after,
.tabs li a:before {
    width: 20px;
    height: 20px;

    /* Circles are circular */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgb(247, 48, 48);
    opacity: 0;

    /* Circles over squares */
    z-index: 98;
}

.tabs .active a:after,
.tabs .active a:before {
    background: #85c4dd;
}

/* First and last tabs have different
     outside color needs */
.tabs li:first-child.active a:before,
.tabs li:last-child.active a:after {
    background: rgb(194, 227, 30);
}

.tabs li a:before {
    left: -20px;
}

.tabs li a:after {
    right: -20px;
}

/* #hiding-bg {
    background-color: #000000;
    opacity: 60%;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
} */

/* #full-screen-exit {
    color: white;
    font-family: 'Bakso-Sapi';
    font-size: 30px;
    top: 2.5vh;
    right: 4vw;
    z-index: 5;
    position: absolute;
    display: none;
}

.full-screen {
    position: absolute;
    margin: auto;
    top: 5vh;
    left: -50%;
    width: 50vw;
    height: 75vh;
    position: relative;
    left: -560px;
    top: -815px;
    width: 100vw;
    height: 100vh;
    background-color: #e65c38;
}

.full-screen-stuff {
    position: absolute;
    left: 15%;
    top: 5vh;
    min-width: 900px;
    width: 75vw;
    height: 75vh;
}


.full-middle {
    position: absolute;
    bottom: 10vh;
} */



/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--light-green);
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-green);
    border-radius: 8px;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}

::-webkit-scrollbar-corner {
    background: var(--light-green);
}




@media screen and (max-width: 1200px) {

    #ooh-bubble {
        transform: translateX(73vw) translateY(-140%);
    }

    #i-made-this {
        transform: translateX(0) translateY(25%);
        right: 960px;
    }

    .know-padding {
        padding: 15px;
    }

    #say-hello {
        transform: translateY(112%) translateX(167%);
    }


    #learn-about-me {
        top: 5%;
    }

    .about-me-bubble {
        transform: translateX(-15%);
    }

    #learn-about-me-line {
        position: absolute;
        width: 670px;
        height: 189px;
        transform: scale(75%) translateX(2.4%) translateY(-30%);
        z-index: 8;
    }


    #zine-parent {
        max-width: 850px;
    }

    .tabs li a,
    .tabs .active li a {
        padding: 10px;
    }

    .tabs .active a,
    .tabs li a:hover {
        padding: 15px 10px;
    }

    #portfolio-parent {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 100px;
        height: min-content;
    }

    #categories-parent {
        gap: 0;
    }

    .about-parent {
        display: inline-block;
    }

    #bump-down {
        transform: translateY(0px) rotate(5deg);
        margin: 60px 0 0 0;
    }

    .self-portrait {
        max-width: 375px;
        margin: auto;
        margin: auto auto 90px auto;
    }

    .tape2 {
        left: 100px;
    }

    #tape-label1,
    #tape-label2,
    #tape-label3,
    #tape-label5 {
        background-size: 200px 85px;
    }

    #nav-list li {
        background-size: 250px 60px;
    }

    #more-info-grid #tape-label2 {
        background-size: 300px 60px;
    }

    #nav-list #tape-label4 {
        background-size: 250px 70px;
    }


    #scroll-list {
        transform: translateY(0);
    }

    #scroll-list li {
        width: 200px;

    }

    .container2 {
        max-width: 700px;
    }
}


@media screen and (max-width: 1115px) {
    #i-made-this {
        transform: translateX(0) translateY(25%);
        left: -105px;
    }

    #ooh-bubble {
        transform: translateX(47vw) translateY(-140%);
    }

    h1 {
        font-size: 60px;

    }

    #bee {
        height: 60px;
    }
}

@media screen and (max-width: 1000px) {


    #categories-parent {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    #portfolio-parent {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .bump-up {
        transform: translateY(0px);
    }

    #dot-box {
        transform: translateY(-10px);
    }

    .container {
        max-width: 700px;
    }


    #intro-meghan {
        display: none;
    }

    #intro-name {
        top: 10vh;
        background-image: url("../images/background-images/scribble1.svg");
        background-size: auto 285px;
        padding: 20px 105px;
    }

    #nav-list {
        grid-template-columns: 1fr;
        top: 13vh;
        gap: 10px;

    }

    h1 {
        font-size: 50px;
    }

    #bee {
        height: 50px;
        object-fit: contain;
        align-self: flex-end;
        animation-duration: 1s;
        margin: 0 auto 0 auto;
        transform-origin: bottom;
        padding: 0 0 0 10px;
    }

    .tape1point5 {
        transform: translateY(-290%) translateX(-225%);
    }

    .tape1point6 {
        transform: translateY(-275%) translateX(-10%);
    }
}


@media screen and (max-width: 880px) {
    #i-made-this {
        display: none;
    }

    #made-this-bubble {
        display: none;
    }

    #name a h1 {
        display: none;
    }

    #bee {
        height: 70px;
    }
}

@media screen and (max-width: 750px) {
    #say-hello {
        transform: translateY(111%) translateX(100%);
    }

    #ooh-bubble {
        transform: translateX(43vw) translateY(-140%);
    }

    #span1column {
        display: none;
    }

    #span2columns {
        display: inline-block !important;
        grid-column: 1 / span 2;
        max-width: 300px;
    }

    .about-me-bubble {
        transform: translateX(0);
    }

    #learn-about-me-line {
        transform: scale(46%) translateX(-39.5%) translateY(-64.8%);
        height: auto;
    }

    .know-padding {
        padding: 25px 15px 0 15px;
    }

    #scroll-list,
    #music-list {
        padding: 0;
    }

    #scroll-list li,
    #music-list li {
        font-size: 25px;
    }

    #peep {
        width: 250px;
        transform: translateX(52vw) translateY(-74.2%);
    }

    #deselect-all {
        font-size: 25px;
    }


    .tape2 {
        left: 10px;
    }


    .tape1point5 {
        display: none;
    }

    #project-parent {
        gap: 100px;
        z-index: 1;
        position: relative;
    }

    #intro-name {
        padding: 20px;
    }

    .container2 {
        max-width: 500px;
    }

    #zine-parent {
        max-width: 450px;
    }

    #tape-label1,
    #tape-label2,
    #tape-label3,
    #tape-label5 {
        background-size: 190px 75px;
    }

    #tape-label6,
    #tape-label7 {
        background-size: 180px 80px;
    }

    #more-info-grid #tape-label2,
    #more-info-grid #tape-label4 {
        background-size: 170px 70px;
    }

    #fave-card {
        height: 225px;
    }
}